


<!-- List notes Container -->
<div class="col-span-1 justify-center lg:max-h-[84vh] overflow-y-auto overflow-x-hidden scrollbar-hidden px-2">

    <form class="col-span-5 formHead items-center hidden sm:block justify-center" action="/addNote" method="POST" id="noteEntry">

        <div class="grid grid-cols-12 gap-2 px-4">      
        
          <!-- Add a Note -->
            <div class="col-span-1 flex items-center gap-2 hover:scale-95">
                <button class="openNoteModalBtn flex items-center justify-center" title="Add Note" type="button">
                    <img src="../Assets/plus (2).svg" class="w-4 h-4" alt="Add Button">
                    <p class="font-bold pl-4">Notes</p>
                </button>
            </div>
        </div>
    </form>
    
      
    <!-- Button opens Modal in mobile view-->
    <div class="py-1 rounded-full block lg:hidden text-center flex justify-center items-center p-2" title="Edit">
    
        <div class="noteModalBtn flex items-center rounded-3xl ">
            <img src="../Assets/plus (2).svg" class="w-4 h-4 m-2" alt="Add note">
            <label for="">Notes</label>
        </div>
    </div>
    
    
    <!-- Note Modal -->
    <dialog class="noteEntryModal rounded shadow-2xl ">
        <form class="formHead justify-center items-center" action="/addNote" method="POST" id="noteEntryModal">
    
            <div class="flex flex-col justify-between items-center w-full max-w-md mx-auto p-4">
    
                <div class="w-full text-xs">
                    <!-- Title Input -->
                    <label for="title" class="block font-bold mb-2 "></label>
                    <input
                        name="title"
                        type="text"
                        class="border w-full p-2 mb-2 rounded"
                        placeholder="Enter a note">
    

                    <!-- TODO: -->
                    <!-- Note Input -->
                    <!-- <label for="note" class="block font-bold mb-2 "></label>   
                    <textarea
                    name="note"
                    class="p-2 rounded w-[300px] h-[100px] border"
                    placeholder="Enter a note item"
                    required></textarea>     -->
                </div>                
    
            
                <!-- Action Buttons -->
                <div class="p-2 w-full flex justify-center">
                    <button class="px-4 py-2 text-white rounded" title="Note Modal">
                        <img src="../Assets/plus (2).svg" class="w-6 h-6 m-2" alt="Add note">
                    </button>
                </div>
            </div>
            
        </form>
    </dialog>




        <div id="noteHeading" class="flex px-4 justify-start items-center note mt-1 text-center border-t-2 lg:border-opacity-0 border">
            <!-- <p class="col-span-3 font-bold text-lg">Notes</p> -->
        </div>

    <% notes.forEach(note => { %> 
    <div id="noteItem"
        class="note border rounded-lg border-gray-400 hover:shadow-lg  bg-white  mt-1 grid grid-cols-1 lg:text-xs sm:text-[8px] items-center transition-transform duration-500 hover:border-blue-400 hover:scale-105">

        <!-- note Input Title -->
        <div class="p-2">
            <div class="flex justify-between items-center">
                <div class="flex">
                    <img src="../Assets/star.svg" class="w-6 h-4 pr-4 hidden sm:block" alt="icon">
                    <p><%= note.title %></p>
                </div>
                
                
                <!-- TODO: Notes Modal more options -->
                <button class="noteBtn px-1 z-50" data-note-id="<%= note._id %>" title="more">
                    <img src="../Assets/more2.svg" class="w-8 h-4 pr-4" alt="icon">
                </button>
            </div>

            <!-- <div class="flex flex-row items-center mt-2">
                <p><%= note.note %></p>
            </div> -->
        </div>



        <!-- More Buttons -->
        <div class="col-span-1 flex justify-end ">

            <!-- Settings Modal     TODO: --> 
            <dialog data-modal="<%= note._id%>" class="noteOptions text-sm p-2 absolute shadow-lg z-50 rounded-md">
                <div class="grid grid-cols-1 justify-center text-center m-8">
                    <p class="text-lg font-bold text-center mb-2"> Settings </p>
                    
                
                    <!-- <p class="editBtn px-1 py-1 cursor-pointer border-b transition-transform duration-500  hover:bg-slate-200 rounded" title="edit" data-doc="<%= note._id %>">
                        Edit
                    </p> -->

                    <p class="deleteBtn px-1 py-1 cursor-pointer border-b transition-transform duration-500  hover:bg-red-600 rounded" title="Delete" data-doc="<%= note._id %>" data-type="'note">
                        Delete
                    </p>
                </div>
            </dialog>

        </div>

    </div>
    <% }); %>
</div>


<!-- TODO: EXPORT ME TO A SEPARATE FILE -->


<!-- Date time module -->
<script src="./scripts/dateTime.js" defer></script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        const notesBtn = document.querySelectorAll('.noteBtn');

        notesBtn.forEach(btn => {
            btn.addEventListener('click', () => {
                const noteId = btn.getAttribute('data-note-id');
                const noteModal = document.querySelector(`dialog[data-modal="${noteId}"]`);

                if (noteModal) {
                    noteModal.showModal(); // Open the specific modal
                }
            });
        });

        // CloseS the modal when clicking outside it
        const noteOptions = document.querySelectorAll('.noteOptions');
        noteOptions.forEach(modal => {
            modal.addEventListener('click', (event) => {
                if (event.target === modal) {
                    modal.close(); 
                }
            });
        });


        // Detele Note
        const deleteButtons = document.querySelectorAll('.deleteBtn');

        deleteButtons.forEach(deleteButton => {
            deleteButton.addEventListener('click', (e) => {

                console.log('Delete Clicked')

                const id = deleteButton.dataset.doc;

                const endpoint = `/delete/note/${id}`;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => {
                    if(!response.ok) {
                        throw new Error('Note Deletion Error')
                    }
                    return response.json();
                })
                .then((data) => {
                    window.location.href = data.redirect;
                })
                .catch ((err) => { console.log ( 'Note Deletion error catch', err);

                })
            })
        })
    });    
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const noteEntryModal = document.querySelector('.noteEntryModal');
        const openNoteModalBtn = document.querySelector('.openNoteModalBtn');
        const noteModalBtn = document.querySelector('.noteModalBtn')

        // Open the modal on button click
        openNoteModalBtn.addEventListener('click', function() {
            noteEntryModal.showModal();  // open modal
        });

        noteModalBtn.addEventListener('click', function() {
            noteEntryModal.showModal();  // open modal
        });

        // Close the modal when clicking outside of it
        noteEntryModal.addEventListener('click', function(event) {
            if (event.target === noteEntryModal) {
                noteEntryModal.close();  // close modal
            }
        });


    });
</script>