<!-- Task List Container -->
<div class="col-span-4 px-2 lg:max-h-[82vh] overflow-y-auto overflow-x-hidden scrollbar-hidden">

        <!-- Task list header -->
        <div id="taskHeading" class="task grid grid-cols-12 mt-4 text-center font-Danfo ">
            <p class="col-span-6 font-bold hidden sm:block">Tasks</p>
            <p class="col-span-1 font-bold hidden sm:block">Priority</p>  
            <p class="col-span-2 font-bold hidden sm:block">Due</p>
            <p class="col-span-1 font-bold hidden sm:block">Freq</p> 
            <p class="col-span-1 font-bold hidden sm:block">Options</p>
            <p class="col-span-1 font-bold hidden sm:block">...</p>
        </div>

    <!-- Task item container -->
    <% tasks.forEach(task => { %> 
    <div id="taskItem-<%= task._id %>"
        class="task border grid grid-cols-9 md:grid-cols-12 gap-2 bg-white lg:text-xs sm:text-[8px] items-center transition-transform duration-500 hover:bg-gray-400 hover:text-white hover:shadow-lg min-h-[50px] md:min-h-0">

        <!-- Task Input -->
        <div class="task col-span-8 md:col-span-6 ">
            <div class="task flex items-center">
                <img src="../Assets/logo.svg" class="w-8 h-4 px-2" alt="icon">
                <span class="task view-mode"><%= task.task %></span>
                <input type="text" class="task edit-mode hidden p-2 rounded-lg bg-gray-400 w-full" value="<%= task.task %>" />
            </div>
        </div>

        

        <!-- TODO: Priority Dropdown -->
        <div class="priority col-span-1 text-center border-r hidden sm:block">
            <span class="priority view-mode"><%= task.priority %></span>
            <select class="priority edit-mode hidden p-1 rounded-lg bg-gray-400 w-full">
                <option value="Low" <%= task.priority === 'Low' ? 'selected' : '' %>>Low</option>
                <option value="Medium" <%= task.priority === 'Medium' ? 'selected' : '' %>>Medium</option>
                <option value="High" <%= task.priority === 'High' ? 'selected' : '' %>>High</option>
            </select>
        </div>

        <!-- Date Input -->
        <div class="col-span-2 text-center border-r hidden sm:block">
            <span class="view-mode date"><%= new Date(task.dueDate).toLocaleDateString('en-GB', { weekday: 'short', day: '2-digit', month: 'short'}) %></span>
            <input type="date" class="edit-mode hidden p-1 rounded-lg bg-gray-400 w-full" value="<%= new Date(task.dueDate).toISOString().split('T')[0] %>" />
        </div>


        <!-- Frequency Dropdown -->
        <div class="frequency col-span-1 text-center border-r hidden sm:block">
            <span class="frequency view-mode"><%= task.frequency %></span>
            <select class="frequency edit-mode hidden p-1 rounded-lg bg-gray-400 w-full">
                <option value="Once-off" <%= task.frequency === 'Once-off' ? 'selected' : '' %>>Once-off</option>
                <option value="Daily" <%= task.frequency === 'Daily' ? 'selected' : '' %>>Daily</option>
                <option value="Weekly" <%= task.frequency === 'Weekly' ? 'selected' : '' %>>Weekly</option>
                <option value="Bi-Weekly" <%= task.frequency === 'Bi-Weekly' ? 'selected' : '' %>>Bi-Weekly</option>
            </select>
        </div>

        
        <!-- <p class="col-span-1 text-center border-r hidden sm:block"><%= task.status%></p> -->

        <!-- Options buttons -->
        <div class="col-span-1 flex items-center justify-center gap-4 hover:invert">
        <button class="optionsBtn px-1 mr-1 flex items-center justify-center" title="more">
            <img src="../Assets/settings.svg" class=" w-8 h-8 px-2 py-2 filter  " alt="icon">
        </button>


            <!-- Settings Modal --> 
            <dialog data-modal="addTask" class="taskOptions text-sm p-2 absolute shadow-lg z-50">

                <div class="grid grid-cols-1 justify-center text-center m-8">
                    <p class="text-lg font-bold text-center mb-2"> Settings </p>
                    
                    <p class="editButton px-1 py-1 cursor-pointer border-b transition-transform duration-500  hover:bg-slate-200" title="edit" data-doc="<%= task._id %>">
                        Edit
                    </p>

                    <p class="saveButton hidden px-1 py-1 cursor-pointer border-b transition-transform duration-500 hover:bg-slate-200" title="save" data-doc="<%= task._id %>">
                        Save
                    </p>
                    <p class="cancelButton hidden px-1 py-1 cursor-pointer border-b transition-transform duration-500 hover:bg-slate-200" title="cancel" data-doc="<%= task._id %>">
                        Cancel
                    </p>

                    <p class="deleteButton px-1 py-1 cursor-pointer border-b transition-transform duration-500  hover:bg-red-600"  title="Delete" data-doc="<%= task._id %>">
                        Delete
                    </p>
                </div>
            </dialog>


        </div>
    </div>
    <% }); %>
</div>



<!-- ----- EXPORT ME TO A SEPARATE FILE------------------------------------------------------------------------- -->
