<%- include('partials/header') %>

<body>
    <div class="wrapper border px-4 font-Poppins">
            <%- include('partials/nav') %> 


<!--------------------------------- -->
            <%- include('sections/addTask.ejs') %>
            <%- include('sections/addNote.ejs') %>

            <div class="grid grid-cols-1 sm:grid-cols-5">
                <%- include('sections/listTasks.ejs') %>
                <%- include('sections/listNotes.ejs') %>
            </div>
            


        




        </div>


    
</body>
</html>